* {
  --primary: #ffdd0e;
  --primary-dark: #ccb10b;
  --primary-light: #ffe12b;
  --primary-ultra-light: #ffe548;
  --secondary: #0c242d;
  --secondary-light: #0d3546;
  --secondary-ultra-light: #475962;
  --accent: #00aeae;
  --positive: #009834;
  --warning: #c70030;
}
