<div class="relative h-full p-2">
  <app-chat-message-list [chat]="chat()"></app-chat-message-list>

  <form
    (submit)="send($event,chat()?.id || '')"
    class="flex flex-row justify-center fixed bottom-0 left-0 right-0 gap-2 w-full p-2 bg-background"
  >
    <input
      name="message"
      [ngModel]="message()"
      (ngModelChange)="message.set($event)"
      placeholder="Nachricht"
      type="text"
      class="input flex-grow"
    />
    <button
      type="submit"
      [disabled]="!(message())"
      class="btn-primary disabled:opacity-40"
    >
      <span class="material-icons">send</span>
    </button>
  </form>
</div>
