<div
  class="message-list-item-container"
  [ngClass]="user()?.displayName === message.authorId ? 'me' : 'other'"
>
  <div class="message-container">
    <div class="message">
      <p class="message-author">{{ message.authorId }}</p>
      @if (message.referredMessage) {
      <div class="referred-message-container">
        <p class="referred-message-author">
          {{ message.referredMessage.author }}
        </p>
        <p class="referred-message">{{ message.referredMessage.message }}</p>
      </div>
      }
      <p class="message-content">{{ message.message }}</p>
      <div class="message-footer">
        <p class="message-timestamp">{{ message.timestamp ?? "--:--" }}</p>
        @if (user()?.displayName === message.authorId) {
        <div class="message-state">
          @switch (message.state) { @case ('send') {
          <span class="material-icons">check</span>
          } @case ('delivered') {
          <span class="material-icons">done_all</span>
          } @case ('read') {
          <span class="material-icons">check_circle</span>
          } @default {
          <span class="material-icons">help</span>
          } }
        </div>
        }
      </div>
    </div>
  </div>
  @if (user()?.displayName !== message.authorId) {
  <div class="avatar-container">
    <div class="avatar"></div>
  </div>
  }
</div>
