:host {
  --icon-size: 1rem;
  --avatar-size: 2rem;
  --percentage-avatar: calc(var(--avatar-size) + 1rem);
  --percentage-message: calc(100% - var(--percentage-avatar));
  --message-border-radius: 1rem;
  --spacing: 1rem;
  --half-spacing: calc(var(--spacing) / 2);
}

div.message-list-item-container {
  display: grid;
  width: 100%;
  padding: 1rem;

  &.me {
    grid-template-columns: var(--percentage-avatar) var(--percentage-message);
    grid-template-areas: "avatar message";

    div.message-container {
      align-items: flex-end;

      div.message {
        background-color: var(--primary);
        color: var(--on-primary);
        border-radius: var(--message-border-radius) var(--message-border-radius)
          0 var(--message-border-radius);

        div.referred-message-container {
          background-color: var(--secondary-ultra-light);
          color: var(--on-secondary-ultra-light);
          border-left: 0.25rem solid var(--secondary);
        }
      }
      div.message-footer {
        div.message-state {
          color: var(--on-primary);
          height: var(--icon-size);
          width: var(--icon-size);
          border-radius: 50%;
          bottom: 0.25rem;
          right: 0.25rem;
          span {
            font-size: 1rem;
          }
        }
      }
    }
  }

  &.other {
    grid-template-columns: var(--percentage-avatar) var(--percentage-message);
    grid-template-areas: "avatar message";
    div.message-container {
      div.message {
        background-color: var(--secondary-ultra-light);
        color: var(--on-secondary-ultra-light);
        border-radius: 1rem 1rem 1rem 0;

        div.referred-message-container {
          background-color: var(--secondary);
          color: var(--on-secondary);
          border-left: 0.25rem solid var(--primary);
          p.referred-message-author {
            color: var(--primary);
          }
        }
      }
    }
  }

  div.message-container {
    display: flex;
    flex-direction: column;
    grid-area: message;
    width: 100%;

    div.message {
      display: flex;
      flex-direction: column;
      gap: var(--half-spacing);
      width: fit-content;
      max-width: 90%;
      padding: var(--spacing);
      p.message-author {
        font-size: 0.75rem;
      }
      div.referred-message-container {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        width: fit-content;
        max-width: 100%;
        padding: 0.5rem;
        border-radius: 0.25rem;

        p.referred-message-author {
          font-weight: bold;
          margin: 0;
          padding: 0;
          font-size: 0.75rem;
        }

        p.referred-message {
          margin: 0;
          max-height: 3rem;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }

      p.message-content {
        padding: 0;
        width: fit-content;
        max-width: 100%;
        margin: 0;
      }
    }
    div.message-footer {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 0.5rem;
      p.message-timestamp {
        opacity: 0.64;
      }
    }
  }

  div.avatar-container {
    grid-area: avatar;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

    div.avatar {
      background-color: darkgray;
      height: var(--avatar-size);
      width: var(--avatar-size);
      border-radius: 50%;
    }
  }
}
