div.message-list-item-container {
  display: grid;
  width: 100%;
  padding: 1rem;

  &.other {
    grid-template-columns: 20% 80%;
    grid-template-areas: "avatar message";
  }

  &.me {
    grid-template-columns: 80% 20%;
    grid-template-areas: "message avatar";
  }

  div.message-container {
    grid-area: message;
    border: 1px solid darkgray;
    width: 100%;
  }

  div.avatar-container {
    grid-area: avatar;
    display: flex;
    justify-content: center;
    align-items: center;

    div.avatar {
      background-color: darkgray;
      height: 2rem;
      width: 2rem;
      border-radius: 50%;
    }
  }
}
