<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Einstellungen</ion-title>
    <ion-buttons slot="end">
      <ion-button color="dark">
        <ion-icon slot="icon-only" ios="cog-outline" md="cog"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">

  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col></ion-col>
      <ion-col>
        <ion-avatar>
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center ion-align-items-center ion-text-center">
      <ion-col></ion-col>
      <ion-col>
        <strong>Vorname</strong>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center ion-align-items-center ion-text-center">
      <ion-col></ion-col>
      <ion-col>
        Nachname
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>

  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item button routerLink="imprint">
          <ion-label>
            <h2>Imprint</h2>
            <p>Subtitle</p>
          </ion-label>
        </ion-item>
        <ion-item [routerLink]="'privacy'">
          <ion-label>
            <h2>Privacy</h2>
            <p>Subtitle</p></ion-label>
        </ion-item>
        <ion-item [routerLink]="'terms'">
          <ion-label>
            <h2>Terms</h2>
            <p>Subtitle</p>
          </ion-label>
        </ion-item>
        <ion-item lines="none" [routerLink]="'foos'">
          <ion-label>
            <h2>FOOS</h2>
            <p>Subtitle</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>



  <ion-button class="standalone-button" expand="block" color="danger">
    Logout
    <ion-icon slot="end" name="exit-outline"></ion-icon>
  </ion-button>
</ion-content>
