<section class="w-full h-full flex flex-col gap-8">
  <section class="p-4 flex flex-row items-center gap-8">
    <button class="btn-primary" (click)="back()">&lt;</button>
    <h1 class="text-white font-bold text-2xl">4-stellige PIN vergeben</h1>
  </section>
  <section class="p-4 flex gap-8 flex-col">
    <p class="text-justify text-white">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad quam, ut qui
      rem officiis quasi facilis quo, officia minus voluptatem est accusantium
      consequuntur! Voluptate quibusdam, natus similique reiciendis nesciunt aut
      perspiciatis facere aliquid, qui adipisci quos beatae harum illum nam, id
      quod ab? Consequuntur magni esse cupiditate animi amet numquam!
    </p>

    <div class="flex flex-col gap-4">
      <div class="flex flex-col gap-1">
        <label class="text-primary" for="pin">4-stellige Pin</label>
        <input class="input" id="pin" name="pin" type="pin" />
      </div>
    </div>

    <div class="flex flex-col gap-4">
      <div class="flex flex-col gap-1">
        <label class="text-primary" for="pin-repeat">Pin wiederholen</label>
        <input
          class="input"
          id="pin-repeat"
          name="pin-repeat"
          type="pin-repeat"
        />
      </div>
    </div>

    <section class="flex justify-center">
      <button (click)="confirmPin()" class="btn-primary w-3/4">
        Pin festlegen
      </button>
    </section>
  </section>
</section>
