<section class="flex flex-col justify-between">
  <section class="w-full flex justify-center">
    <div class="bg-white w-32 h-52 rounded-xl"></div>
  </section>

  <section class="flex flex-col gap-6 p-4">
    <section class="flex justify-center">
      <h1 class="text-white text-4xl font-bold">Login</h1>
    </section>
    <div class="flex flex-col gap-4">
      <div class="flex flex-col gap-1">
        <label class="text-white" for="loginName">Login name</label>
        <input class="input" id="loginName" name="loginName" type="text" />
      </div>
      <div class="flex flex-col gap-1">
        <label class="text-white" for="loginPassword">Login name</label>
        <input
          class="input"
          id="loginPassword"
          name="loginPassword"
          type="password"
        />
      </div>
    </div>
    <div class="flex flex-col justify-center gap-2">
      <button class="btn-primary" (click)="continueLogin()">Login</button>
      <a class="text-yellow-400 text-center font-bold"> Passwort vergessen?</a>
    </div>
  </section>
</section>
<!-- 
<div id="login-page-container">
  <form [formGroup]="loginFormGroup">
    <input
      type="text"
      name="username"
      id="username"
      placeholder="Nutzername"
      formControlName="username"
    />
    <input
      type="password"
      name="password"
      id="password"
      placeholder="Passwort"
      formControlName="password"
    />
    <button [disabled]="!loginFormGroup.valid" (click)="login()">Login</button>
  </form>
</div> -->
