<section class="flex flex-col content-space-evenly">
  <section class="flex flex-col gap-1">
    <h2>Login</h2>
    <label for="loginName">Login name</label>
    <input id="loginName" name="loginName" type="text" />
  </section>
  <section class="flex flex-col gap-1">
    <button (click)="forgotPassword()">Passwort vergessen</button>
    <button (click)="continueLogin()">Weiter</button>
  </section>
</section>
<!-- 
<div id="login-page-container">
  <form [formGroup]="loginFormGroup">
    <input
      type="text"
      name="username"
      id="username"
      placeholder="Nutzername"
      formControlName="username"
    />
    <input
      type="password"
      name="password"
      id="password"
      placeholder="Passwort"
      formControlName="password"
    />
    <button [disabled]="!loginFormGroup.valid" (click)="login()">Login</button>
  </form>
</div> -->
