<div id="component-page-container">
  <h1>Components Page</h1>
  <div>
    <h2>Button Component</h2>
    <app-button label="Test Button"></app-button>
    <app-button label="Test Button" disable></app-button>
  </div>
  <div>
    <h2>Chat Bubble</h2>
    <app-chat-message-list-item
      [message]="shortMessageEntityOther"
    ></app-chat-message-list-item>
    <app-chat-message-list-item
      [message]="shortMessageEntityMe"
    ></app-chat-message-list-item>
    <app-chat-message-list-item
      [message]="longMessageEntityOther"
    ></app-chat-message-list-item>
    <app-chat-message-list-item
      [message]="longMessageEntityMe"
    ></app-chat-message-list-item>
    <app-chat-message-list-item
      [message]="shortMessageEntityOtherReferred"
    ></app-chat-message-list-item>
    <app-chat-message-list-item
      [message]="shortMessageEntityMeReferred"
    ></app-chat-message-list-item>
    <app-chat-message-list-item
      [message]="longMessageEntityOtherReferred"
    ></app-chat-message-list-item>
    <app-chat-message-list-item
      [message]="longMessageEntityMeReferred"
    ></app-chat-message-list-item>
  </div>
  <div>
    <h2>Chip</h2>
    <app-chip label="Chip"></app-chip>
  </div>
  <div>
    <h2>Input Field</h2>
    <app-input-field></app-input-field>
    <app-input-field disable></app-input-field>
    <app-input-field label="Password Field" type="password"></app-input-field>
    <app-input-field
      label="Password Field"
      type="password"
      disable
    ></app-input-field>
  </div>
</div>
