<section class="flex flex-col h-full justify-between">
  <section
    class="flex flex-row bg-gray-700 p-4 text-yellow-400 font-bold text-xl"
  >
    <h1>Headline here</h1>
  </section>
  <section class="p-4">
    <p class="text-justify text-white">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. A adipisci porro
      aliquam. Odio necessitatibus asperiores aspernatur nostrum ab illo, quos
      iste dignissimos quaerat beatae, hic inventore eius sint doloribus ex
      nobis sapiente magni maiores! Illo ea temporibus accusantium enim quasi
      laudantium officiis est facere minima, eveniet magnam maxime ullam
      exercitationem dignissimos neque laboriosam explicabo rem similique
      consequatur libero fugiat voluptatem.
    </p>
  </section>
  <section class="p-4">
    <button class="btn-primary" (click)="startLogin()">Login</button>
  </section>
  <section class="p-4">
    <a class="text-white opacity-75" href="http://">imprint</a>
  </section>
</section>
